
ul {
  list-style-type: none; 
  padding: 0; 
}

li {
  background-color: #fff; 
  border: 1px solid #ff69b4; /* Rosa Rand */
  border-radius: 5px;
  margin: 10px 0; /* Abstand zwischen den Aufgaben */
  padding: 10px;
  transition: background-color 0.3s;
}



.not-completed {
    background-color: #ffcccb; /* Hellrosa für unerledigte Aufgaben */
}

.completed {
    background-color: #98ff98; /* Mintgrün für erledigte Aufgaben */
}

button {
  margin-right: 10px; /* Abstand zwischen den Buttons */
}

.delete-button {
  background-color: lightcoral; /* Hellorange für den Löschen-Button */
  color: white; /* Textfarbe weiß */
  border: none; /* Keine Standardrahmen */
  padding: 5px 10px; /* Innenabstand für bessere Bedienbarkeit */
  cursor: pointer; /* Zeigt an, dass der Button klickbar ist */
}

.delete-button:hover {
  background-color: darkorange; /* Dunkelorange bei Hover */
}

